# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
learn-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Data
Datasets/cleaned_titanic.csv

# Python env files
*.env
